<mat-card>

    <h2 mat-dialog-title>
      {{ editando ? "Editar cliente" : "Cadastrar cliente" }}
    </h2>

    <div mat-dialog-content>
      <form
        [formGroup]="form"
        style="display: grid; gap: 12px; padding-top: 8px"
      >
        <mat-form-field appearance="outline">
          <mat-label>Nome completo</mat-label>
          <input matInput formControlName="nomeCompleto" />
          <mat-error *ngIf="form.get('nomeCompleto')?.hasError('required')"
            >Obrigatório</mat-error
          >
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>CPF</mat-label>
          <input matInput formControlName="cpf" />
          <mat-error *ngIf="form.get('cpf')?.hasError('required')"
            >Obrigatório</mat-error
          >
        </mat-form-field>
      </form>
    </div>

    <div mat-dialog-actions align="end">
      <button mat-button (click)="cancel()" [disabled]="saving">
        Cancelar
      </button>
      <button
        mat-raised-button
        color="primary"
        (click)="save()"
        [disabled]="saving"
      >
        Salvar
      </button>
    </div>
</mat-card>
