.content{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  max-width: 100%;
}

mat-card{

  .card{
    display: grid;
    gap: 12px;
    padding: 16px;
    width: 940px;

    form{
      display: grid;
      gap: 12px;
    }

    .button-config{
      display: flex;
      justify-content: flex-end;
      gap: 12px;
    }

  }

  .resultado{
    margin-top: 12px;
  }
}

