<mat-toolbar>
  <span>Clientes</span>
  <span class="toolbar-spacer"></span>

  <button mat-stroked-button (click)="load()">
    <mat-icon>refresh</mat-icon>
    Atualizar
  </button>

  <button mat-raised-button color="primary" style="margin-left:8px;" (click)="abrirCadastro()">
    <mat-icon>add</mat-icon>
    Cadastrar
  </button>
</mat-toolbar>

<div class="page">
  <mat-card class="card">
    <div *ngIf="loading" style="display:flex; justify-content:center; padding:24px;">
      <mat-spinner></mat-spinner>
    </div>

    <div class="table-wrap" *ngIf="!loading">
      <table mat-table [dataSource]="data" class="table">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>#</th>
          <td mat-cell *matCellDef="let c">{{ c.id }}</td>
        </ng-container>

        <ng-container matColumnDef="nomeCompleto">
          <th mat-header-cell *matHeaderCellDef>Nome</th>
          <td mat-cell *matCellDef="let c">{{ c.nomeCompleto }}</td>
        </ng-container>

        <ng-container matColumnDef="cpf">
          <th mat-header-cell *matHeaderCellDef>CPF</th>
          <td mat-cell *matCellDef="let c">{{ c.cpf }}</td>
        </ng-container>

        <ng-container matColumnDef="telefone">
          <th mat-header-cell *matHeaderCellDef>Telefone</th>
          <td mat-cell *matCellDef="let c">{{ c.telefone }}</td>
        </ng-container>

        <ng-container matColumnDef="endereco">
          <th mat-header-cell *matHeaderCellDef>Endereço</th>
          <td mat-cell *matCellDef="let c">{{ c.endereco }}</td>
        </ng-container>

        <ng-container matColumnDef="acoes">
          <th mat-header-cell *matHeaderCellDef>Ações</th>
          <td mat-cell *matCellDef="let c">
            <div class="actions">
              <button mat-stroked-button color="primary" (click)="abrirEdicao(c)">
                <mat-icon>edit</mat-icon>
                Editar
              </button>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </mat-card>
</div>
